$color_burlywood: #deb887
$color_beige: #f5f5dc

// Original Bootstrap's CSS depends on empty href attributes to style cursors
// for several components (pagination, tabs etc.). But in AngularJS adding
// empty href attributes to link tags will cause unwanted route changes.
// This is why we need to remove empty href attributes from directive
// templates and as a result styling is not applied correctly.
.nav .pagination .carousel a
  cursor: pointer

.navbar-static-top
  margin-bottom: 0

.navbar-default .navbar-brand
  color: $color_burlywood

.jumbotron
  background-color: $color_beige
  padding-bottom: 0
  padding-top: 10px
  text-align: center

.footer
  border-top: 1px solid #eee
