$color_burlywood: #deb887
$color_beige: #f5f5dc

// Original Bootstrap's CSS depends on empty href attributes to style cursors
// for several components (pagination, tabs etc.). But in AngularJS adding
// empty href attributes to link tags will cause unwanted route changes.
// This is why we need to remove empty href attributes from directive
// templates and as a result styling is not applied correctly.
.nav .pagination .carousel a
  cursor: pointer

.navbar-static-top
  margin-bottom: 0

.navbar-default .navbar-brand
  color: $color_burlywood

.jumbotron
  background-color: $color_beige
  padding-bottom: 0
  padding-top: 10px
  text-align: center

.main-body
  padding-top: 20px

.tab-title
  padding-left: 10px

.tab-body
  border: 1px solid #ddd
  border-radius: 0 0 4px 4px
  border-top-color: transparent
  padding: 10px

  form
    margin-left: -10px

.footer
  border-top: 1px solid #eee

.error-message
  color: red
  padding-top: 5px
